*{
    padding: 0;
    margin: 0;
}
#festaum {
    width: 10%;
    height:300px;
}
#festadois {
    width: 10%;
    height:300px;
}
#festatres {
    width: 10%;
    height:300px;
}
#festaquatro {
    width: 10%;
    height:300px;
}
#festacinco {
    width: 10%;
    height:300px;
}
footer {
    float: left;
    clear: both;
    background-color: #333;
}